<!--carousel-->
<div class="items-wrapper">
  <!--carousel__list-product-->
  <ul class="items">
    <!--carousel__prodct-->
    <li class="item"><app-carousel-product></app-carousel-product></li>
    <li class="item"><app-carousel-product></app-carousel-product></li>
    <li class="item"><app-carousel-product></app-carousel-product></li>
    <li class="item"><app-carousel-product></app-carousel-product></li>
    <li class="item"><app-carousel-product></app-carousel-product></li>
    <li class="item"><app-carousel-product></app-carousel-product></li>
    <li class="item"><app-carousel-product></app-carousel-product></li>
  </ul>
</div>
