<!--carousel-->
<div class="items-wrapper">
  <!--carousel__list-product-->
  <ul class="items">
    <!--carouusel__prodct-->
    <li class="item"><img src="https://unsplash.it/1600/400?image=950" /></li>
    <li class="item"><img src="https://unsplash.it/1600/400?image=930" /></li>
    <li class="item"><img src="https://unsplash.it/1600/400?image=990" /></li>
    <li class="item"><img src="https://unsplash.it/1600/400?image=980" /></li>
    <li class="item"><img src="https://unsplash.it/1600/400?image=970" /></li>
    <li class="item"><img src="https://unsplash.it/1600/400?image=976" /></li>
    <li class="item"><img src="https://unsplash.it/1600/400?image=993" /></li>
    <li class="item"><img src="https://unsplash.it/1600/400?image=969" /></li>
  </ul>
</div>
